:host ::ng-deep .gm-login-card_border {
  border-color: #cab9cf;
}

:host ::ng-deep .gm-login-card_submit-button {
  background-color: #a4dfed;
}

:host ::ng-deep .gm-login-card_submit-button:hover {
  background-color: #dff2f9;
}

:host ::ng-deep .gm-login-card_submit-button-label {
  color: #000000;
}

:host ::ng-deep .gm-login-card_top-action-label {
  color: #ca8eaa;
}

:host ::ng-deep .gm-login-card-bottom-action-label {
  color: #fbfdcb;
}

:host ::ng-deep .gm-login-card_input-label {
  color: #ca8eaa;
}

:host ::ng-deep .gm-login-card_password-label {
  color: #a9e0ef;
}
